.manual{

    width: 100%;
    background:white;
   
  
  
  }
  
  .navbar {
      width: 100%;
      background-color: #8d12b3;
      overflow: auto;
    }
    
    .navbar a {
      float: left;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 25px;
    }
    
    .navbar a:hover {
      background-color: #44025e;
    }